In [1]:
# while: warming up
x = 1
while x < 4:
    print(x)
    x = x + 1
# How many prinouts will the following while loop do? 3

1
2
3

In [2]:
# Basic while loop
# Initialize offset
offset = 8

# Code the while loop
while offset != 0:
    print("correcting...")
    offset -= 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

In [ ]:
# Add conditionals
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
      offset -= 1
    else : 
      offset+=1
    print(offset)

In [3]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for area in areas:
    print(area)

11.25
18.0
20.0
10.75
9.5

In [4]:
# Indexes and Values (1)
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for i, a in enumerate(areas) :
    print(f"room {i}: {a}")

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [5]:
# Indexes and values (2)
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for index, area in enumerate(areas) :
    print("room " + str(index+1) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [6]:
# Loop over list of lists
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for val in house:
    print(f"the {val[0]} is {val[1]} sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [7]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for k, v in europe.items():
    print(f"the capital of {k} is {v}")

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [8]:
# Import numpy as np
import numpy as np

# For loop over np_height
np_height = [74, 74, 72, 75, 75, 73]
for val in np_height:
    print(f"{val} inches")

np_baseball = [[74, 180],[74, 215],[72, 210],[75, 205],[75, 190],[73, 195]]
# For loop over np_baseball
for val in np.nditer(np_baseball):
    print(val)

74 inches
74 inches
72 inches
75 inches
75 inches
73 inches
(array(74), array(74), array(72), array(75), array(75), array(73))
(array(180), array(215), array(210), array(205), array(190), array(195))

In [1]:
# Loop over DataFrame (1)
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Iterate over rows of cars
for lab, row in cars.iterrows():
    print(lab)
    print(row)

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JPN
cars_per_cap      588
country         Japan
drives_right    False
Name: JPN, dtype: object
IN
cars_per_cap      188
country         India
drives_right    False
Name: IN, dtype: object
RU
cars_per_cap        18
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
cars_per_cap        200
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

In [4]:
# Loop over DataFrame (2)
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Adapt for loop
for lab, row in cars.iterrows():
    fString = row["cars_per_cap"]
    print(f"{lab}: {fString}")

US: 809
AUS: 731
JPN: 588
IN: 188
RU: 18
MOR: 200
EG: 45

In [6]:
# Add column (1)
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Code for loop that adds COUNTRY column
for lab, row in cars.iterrows():
    cars.loc[lab, "COUNTRY"] = row["country"].upper()

# Print cars
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JPN           588          Japan         False          JAPAN
IN            188          India         False          INDIA
RU             18         Russia          True         RUSSIA
MOR           200        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

In [8]:
# Add column (2)
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Use .apply(str.upper)
# for lab, row in cars.iterrows() :
#     cars.loc[lab, "COUNTRY"] = row["country"].upper()
cars["COUNTRY"] = cars["country"].apply(str.upper)
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JPN           588          Japan         False          JAPAN
IN            188          India         False          INDIA
RU             18         Russia          True         RUSSIA
MOR           200        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT